__Hoja de trabajo Proyecto BMW - Esther__

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.Importar dataset

In [77]:
df_bmw = pd.read_csv('dataset/bmw_pricing_v3.csv')

In [78]:
df_bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
3310,BMW,525,132285.0,160.0,2013-07-01,diesel,black,sedan,False,NaN,False,NaN,True,False,True,NaN,20600.0,2018-06-01
4226,BMW,X3,161729.0,100.0,NaN,diesel,brown,suv,True,True,False,NaN,False,False,True,False,13800.0,2018-05-01
1839,BMW,116,147717.0,101.0,NaN,petrol,NaN,hatchback,True,True,False,False,False,NaN,True,True,8400.0,2018-03-01
2921,BMW,320,159143.0,120.0,NaN,diesel,NaN,NaN,True,True,False,NaN,True,NaN,True,True,14500.0,2018-04-01
2498,BMW,520,172022.0,135.0,NaN,diesel,grey,sedan,False,True,False,False,False,False,False,True,15600.0,2018-07-01

In [79]:
df_bmw.shape

(4843, 18)

In [80]:
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

Primeros comentarios:
1. Varias columnas con nulos
2. Campos fechas tipo 'object'
3. Solo el campo 'gps' es tipo booleano, en cambio campos como volante_regulable, aire_acondicionado, camara_trasera...alerta_lim_velocidad son 'objects' a pesar de tener valores 'True/False'

In [81]:
#cambio las fechas a date_time
for i in ["fecha_registro","fecha_venta"]:
    df_bmw[i]=pd.to_datetime(df_bmw[i])

In [82]:
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   datetime64[ns]
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(3), object(12)
memory usage: 648.1+ KB

2. Analizamos duplicados

In [83]:
df_bmw[df_bmw.duplicated()].shape

(0, 18)

Comentarios: sin duplicados

3 .Analizar nulos

In [84]:
df_bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

3.1. Analizamos los campos con más nulos

3.1.1. MARCA: vemos que solo tiene dos valores 'BMW' y 'nan'. Por lo tanto como no aporta información, la borramos (haciendo una copia antes)

In [85]:
df_bmw['marca'].unique()

array([nan, 'BMW'], dtype=object)

In [86]:
df_bmw1 =  df_bmw.copy()

In [87]:
del(df_bmw1['marca'])

In [88]:
df_bmw1.isnull().sum()

modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [89]:
df_bmw1.shape

(4843, 17)

3.1.2 FECHA REGISTO: columna con demasiados nulos. La eliminamos.

In [90]:
df_bmw1['fecha_registro'].value_counts(dropna = False, normalize = True) * 100

fecha_registro
NaT           50.030973
2013-07-01     1.920297
2014-03-01     1.713814
2014-05-01     1.672517
2013-01-01     1.610572
                ...
2007-01-01     0.020648
1990-03-01     0.020648
2006-11-01     0.020648
1994-01-01     0.020648
2005-09-01     0.020648
Name: proportion, Length: 181, dtype: float64

In [91]:
df_bmw2 =  df_bmw1.copy()

In [92]:
df_bmw2.shape

(4843, 17)

In [93]:
del(df_bmw2['fecha_registro'])

In [94]:
df_bmw2.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

3.1.3 COLOR: Muchos nulos, pero no creo que se deba borrar la columna por contener información relevante. Les asigno el valor 'sin color'

In [95]:
df_bmw2['color'].value_counts(dropna = False, normalize = True) * 100

color
black     30.951889
grey      22.093744
blue      13.359488
white      9.993805
NaN        9.188520
brown      6.235804
silver     6.029321
red        0.970473
beige      0.763989
green      0.289077
orange     0.123890
Name: proportion, dtype: float64

In [ ]:
df_bmw2[df_bmw2['color'].isnull()]

In [97]:
df_bmw3 = df_bmw2.copy()

In [98]:
df_bmw3['color'].fillna('sin color', inplace=True)

In [99]:
df_bmw3.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

3.1.4 TIPO_COCHE: Muchos nulos, pero no creo que se deba borrar la columna por contener información relevante. Les asigno el valor 'sin tipo_coche'

In [100]:
df_bmw3['tipo_coche'].value_counts(dropna = False, normalize = True) * 100

tipo_coche
NaN            30.146603
estate         22.857733
sedan          16.952302
suv            15.589511
hatchback      10.076399
subcompact      1.589924
coupe           1.569275
convertible     0.619451
van             0.598802
Name: proportion, dtype: float64

In [101]:
df_bmw3['tipo_coche'].fillna('sin tipo_coche', inplace=True)

3.1.5 AIRE_ACONDICIONADO: Varios nulos, pero no creo que se deba borrar la columna por contener información relevante. Les asigno el valor 'sin info aire_acondicionado'

In [102]:
df_bmw3['aire_acondicionado'].value_counts(dropna = False, normalize = True) * 100

aire_acondicionado
True     71.546562
False    18.418336
NaN      10.035102
Name: proportion, dtype: float64

In [103]:
df_bmw3['aire_acondicionado'].fillna('sin info aire_acondicionado', inplace=True)

3.1.6 ASIENTOS_PLEGABLES: Columna no relevante con muchos nulos. La elimino.

In [104]:
df_bmw3['asientos_traseros_plegables'].value_counts(dropna = False, normalize = True) * 100

asientos_traseros_plegables
NaN      70.018584
False    23.745612
True      6.235804
Name: proportion, dtype: float64

In [105]:
df_bmw4 = df_bmw3.copy()

In [106]:
del(df_bmw4['asientos_traseros_plegables'])

3.1.7 BLUETOOTH: Varios nulos, pero no creo que se deba borrar la columna por contener información relevante. Les asigno el valor 'sin info bluetooth'

In [107]:
df_bmw4['bluetooth'].value_counts(dropna = False, normalize = True) * 100

bluetooth
False    64.402230
True     20.565765
NaN      15.032005
Name: proportion, dtype: float64

In [108]:
df_bmw4['bluetooth'].fillna('sin info bluetooth', inplace=True)

3.1.8 ALERTA_LIM_VELOCIDAD: Varios nulos, pero no creo que se deba borrar la columna por contener información relevante. Les asigno el valor 'sin info alerta_lim_velocidad'

In [109]:
df_bmw4['alerta_lim_velocidad'].value_counts(dropna = False, normalize = True) * 100

alerta_lim_velocidad
True     46.252323
False    38.715672
NaN      15.032005
Name: proportion, dtype: float64

In [110]:
df_bmw4['alerta_lim_velocidad'].fillna('sin info alerta_lim_velocidad', inplace=True)

In [111]:
df_bmw4.isnull().sum()

modelo                  3
km                      2
potencia                1
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

In [119]:
df_bmw4.isnull().shape

(4843, 15)

3.2 Analizamos las categorías con muy pocos nulos: modelo, km, potencia, tipo_gasolina, volante_regulable, camara_trasera, elevalunas_electrico, precio, fecha_venta

In [120]:
col_few_nulls = ['modelo', 'km', 'potencia', 'tipo_gasolina', 'volante_regulable', 'camara_trasera', 'elevalunas_electrico', 'precio', 'fecha_venta']

In [127]:
num_rows_nulls = len(df_bmw4[df_bmw4['modelo'].isnull() | df_bmw4['km'].isnull() | df_bmw4['tipo_gasolina'].isnull() | df_bmw4['volante_regulable'].isnull() | df_bmw4['camara_trasera'].isnull() | df_bmw4['elevalunas_electrico'].isnull() | df_bmw4['precio'].isnull() | df_bmw4['fecha_venta'].isnull()]) 
print(num_rows_nulls)
print(num_rows_nulls / df_bmw4.shape[0] * 100)

25
0.5162089613875697

In [ ]:
df_num_rows_nulls = df_bmw4[df_bmw4['modelo'].isnull() | df_bmw4['km'].isnull() | df_bmw4['tipo_gasolina'].isnull() | df_bmw4['volante_regulable'].isnull() | df_bmw4['camara_trasera'].isnull() | df_bmw4['elevalunas_electrico'].isnull() | df_bmw4['precio'].isnull() | df_bmw4['fecha_venta'].isnull()] 
df_num_rows_nulls

Al ser tan pocas filas las que tienen alguno de estos campos a nulo, las elimino

In [128]:
df_bmw5 = df_bmw4.copy()
df_bmw5.shape

(4843, 15)

In [130]:
df_bmw5.dropna(subset = col_few_nulls, inplace=True)
df_bmw5.shape

(4817, 15)

In [131]:
df_bmw5.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    0
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  0
fecha_venta             0
dtype: int64