__Hoja de trabajo Proyecto BMW - Toni__

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [224]:
pd.set_option('display.max_rows',25)
pd.set_option('display.max_columns',None)

Importamos los datos a un DataFrame

In [4]:
bmw=pd.read_csv('dataset/bmw_pricing_v3.csv')

In [5]:
bmw.shape

(4843, 18)

In [6]:
bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
2126,NaN,116,116035.0,85.0,NaN,diesel,grey,NaN,True,True,True,False,False,True,True,False,10100.0,2018-05-01
4642,NaN,X3,82927.0,140.0,2014-09-01,diesel,blue,suv,True,True,False,NaN,True,NaN,True,True,25500.0,2018-08-01
2677,BMW,320,73456.0,120.0,2013-05-01,diesel,brown,sedan,True,True,False,NaN,True,False,True,True,17500.0,2018-08-01
466,BMW,530,178174.0,190.0,NaN,diesel,blue,estate,True,True,False,NaN,True,False,True,True,16500.0,2018-02-01
2632,BMW,318,170985.0,105.0,2013-01-01,diesel,black,NaN,False,True,False,NaN,False,False,True,False,10600.0,2018-02-01

In [7]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [8]:
bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

__No hay duplicados__

In [9]:
bmw.duplicated().value_counts()

False    4843
Name: count, dtype: int64

In [10]:
bmw[bmw.duplicated()]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

__Análisis univarible__

In [11]:
bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- marca

In [12]:
bmw.marca.unique()

array([nan, 'BMW'], dtype=object)

In [13]:
bmw.marca.value_counts(dropna=False, normalize=True)

marca
BMW    0.799711
NaN    0.200289
Name: proportion, dtype: float64

In [14]:
bmw2=bmw.copy()

In [15]:
del(bmw2['marca'])

In [16]:
bmw2.head()

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

- modelo

In [17]:
bmw2.isnull().sum()

modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [18]:
bmw2.modelo.value_counts(dropna=False, normalize=True)*100

modelo
320                  15.527566
520                  13.070411
318                  11.728268
X3                    9.043981
116                   7.392112
X1                    5.657650
316                   4.852364
X5                    4.769771
525                   3.799298
530                   3.241792
118                   2.952715
318 Gran Turismo      2.002891
320 Gran Turismo      1.507330
518                   1.362792
535                   0.949824
X4                    0.949824
X6                    0.908528
420                   0.908528
120                   0.743341
730                   0.681396
420 Gran Coupé        0.681396
330                   0.681396
520 Gran Turismo      0.474912
640 Gran Coupé        0.392319
325                   0.392319
740                   0.371670
530 Gran Turismo      0.371670
X5 M                  0.351022
114                   0.309725
218 Active Tourer     0.268429
218                   0.247780
M550                  0.247780
218 Gran Tourer       0.185835
640                   0.165187
418 Gran Coupé        0.165187
X6 M                  0.165187
335                   0.144539
M3                    0.144539
Z4                    0.123890
i3                    0.123890
528                   0.123890
435 Gran Coupé        0.123890
328                   0.103242
125                   0.103242
216 Gran Tourer       0.082593
135                   0.082593
325 Gran Turismo      0.082593
523                   0.082593
430 Gran Coupé        0.082593
435                   0.082593
216 Active Tourer     0.061945
NaN                   0.061945
330 Gran Turismo      0.061945
335 Gran Turismo      0.061945
X5 M50                0.061945
M235                  0.061945
220                   0.061945
M4                    0.041297
650                   0.041297
430                   0.041297
425                   0.041297
750                   0.041297
535 Gran Turismo      0.041297
123                   0.041297
M5                    0.020648
630                   0.020648
i8                    0.020648
735                   0.020648
ActiveHybrid 5        0.020648
225                   0.020648
216                   0.020648
220 Active Tourer     0.020648
635                   0.020648
M135                  0.020648
 Active Tourer        0.020648
225 Active Tourer     0.020648
214 Gran Tourer       0.020648
Name: proportion, dtype: float64

In [19]:
bmw2[bmw2.modelo.isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,NaN,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01
4766,NaN,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01
4802,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

In [20]:
#Vehículo indice 173
bmw2[(bmw2['potencia']==105) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==True)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==False)&(bmw2['volante_regulable']==False)&(bmw2['gps']==True)]['modelo'].value_counts(normalize=True)*100

modelo
318                 63.106796
X1                  11.650485
118                 10.679612
318 Gran Turismo     9.708738
X3                   3.883495
525                  0.970874
Name: proportion, dtype: float64

In [21]:
#Vehículo indice 4766
bmw2[(bmw2['potencia']==105) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==True)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==True)&(bmw2['volante_regulable']==False)&(bmw2['gps']==True)&(bmw2['tipo_coche']=='suv')&(bmw2['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X1    62.5
X3    37.5
Name: proportion, dtype: float64

In [22]:
#Vehículo indice 4802
bmw2[(bmw2['potencia']==110) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==False)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==False)&(bmw2['volante_regulable']==False)&(bmw2['gps']==False)&(bmw2['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X3     33.333333
218    33.333333
318    16.666667
X1     16.666667
Name: proportion, dtype: float64

In [23]:
bmw2.loc[[173],['modelo']]='318'

In [24]:
bmw2.loc[[173]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,318,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01

In [25]:
bmw2.loc[[4766],['modelo']]='X1'

In [26]:
bmw2.loc[[4766]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4766,X1,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01

In [27]:
bmw2.loc[[4802]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4802,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

In [28]:
bmw2=bmw2.drop(index=4802)

In [29]:
#bmw2.loc[[4802]]

- km

In [30]:
bmw3=bmw2.copy()

In [31]:
bmw3.isnull().sum()

modelo                            0
km                                2
potencia                          1
fecha_registro                 2422
tipo_gasolina                     5
color                           445
tipo_coche                     1459
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [32]:
bmw3[bmw3['km'].isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
459,520,NaN,135.0,2012-12-01,diesel,black,NaN,True,True,True,False,True,True,True,True,20300.0,2018-02-01
4811,X3,NaN,190.0,NaN,diesel,blue,van,True,True,True,True,True,False,True,True,19500.0,2018-07-01

In [33]:
bmw3.km.isnull().value_counts(dropna=False,normalize=True)*100

km
False    99.958695
True      0.041305
Name: proportion, dtype: float64

In [34]:
bmw3=bmw3.drop(index=[459,4811])

In [35]:
bmw3.isnull().sum()

modelo                            0
km                                0
potencia                          1
fecha_registro                 2421
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- potencia

In [36]:
bmw3[bmw3.potencia.isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
181,525,106054.0,NaN,2014-05-01,diesel,black,estate,False,True,False,NaN,False,False,True,True,18700.0,2018-03-01

In [37]:
#Podemos averigual la potencia segun modelo y otras variables?
bmw3[['modelo','potencia','tipo_gasolina','tipo_coche','volante_regulable','aire_acondicionado','elevalunas_electrico']][(bmw3['modelo']=='525')&(bmw3['tipo_gasolina']=='diesel')&(bmw3['tipo_coche']=='estate')&(bmw3['volante_regulable']==False)&(bmw3['aire_acondicionado']==True)&(bmw3['elevalunas_electrico']==False)].value_counts().reset_index()

,modelo,potencia,tipo_gasolina,tipo_coche,volante_regulable,aire_acondicionado,elevalunas_electrico,count
0,525,160.0,diesel,estate,False,True,False,4

In [38]:
#Potencia= 160!
bmw3.loc[[181],['potencia']]=160

In [39]:
bmw3.isnull().sum()

modelo                            0
km                                0
potencia                          0
fecha_registro                 2421
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- Fecha_registro

In [40]:
bmw.fecha_registro.isnull().value_counts(normalize=True)*100
#Demasiados nulos. Se puede eliminar.

fecha_registro
True     50.030973
False    49.969027
Name: proportion, dtype: float64

In [41]:
bmw4=bmw3.copy()

In [42]:
del(bmw4['fecha_registro'])

In [43]:
bmw4.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- tipo_gasolina

In [44]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
82,420,54993.0,135.0,NaN,black,NaN,False,False,False,False,False,False,False,False,18400.0,2018-03-01
185,320,186697.0,135.0,NaN,white,estate,False,False,False,NaN,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [45]:
#Evaluamos el modelo 420 (indice 82) para ver si podemos imputar el tipo_gasolina
bmw4[['modelo','potencia','tipo_gasolina','volante_regulable','aire_acondicionado']][(bmw4['modelo']=='420')&(bmw4['potencia']==135)&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==False)].value_counts().reset_index()

  modelo  potencia tipo_gasolina  volante_regulable  aire_acondicionado  count
0    420     135.0        diesel              False               False      7

In [46]:
bmw4.loc[[82],['tipo_gasolina']]='diesel'

In [47]:
bmw4.loc[[82],['tipo_gasolina']]

   tipo_gasolina
82        diesel

In [48]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
185,320,186697.0,135.0,NaN,white,estate,False,False,False,NaN,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [49]:
#Evaluamos el modelo 320 (indice 185) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado']][(bmw4['modelo']=='320')&(bmw4['potencia']==135)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==False)].value_counts().reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,count
0,diesel,320,135.0,estate,False,False,22

In [50]:
bmw4.loc[[185],['tipo_gasolina']]='diesel'

In [51]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [52]:
#Evaluamos el modelo 318 (indice 444) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw4['modelo']=='318')&(bmw4['potencia']==100)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==True)&(bmw4['aire_acondicionado']==True)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==True)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,100.0,estate,True,True,False,False,False,True,0.857143
1,petrol,318,100.0,estate,True,True,False,False,False,True,0.142857

In [53]:
bmw4.loc[[444],['tipo_gasolina']]='diesel'

In [54]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [55]:
#Evaluamos el modelo 318 (indice 480) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw4['modelo']=='318')&(bmw4['potencia']==105)&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==True)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,105.0,estate,False,True,False,False,False,False,0.75
1,diesel,318,105.0,sedan,False,True,False,False,False,False,0.25

In [56]:
bmw4.loc[[480],['tipo_gasolina']]='diesel'

In [57]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [58]:
#Evaluamos el modelo 318 (indice 630) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad','gps']][(bmw4['modelo']=='318')&(bmw4['potencia']==105)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==False)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==True)&(bmw4['gps']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,gps,proportion
0,diesel,318,105.0,estate,False,False,False,False,False,True,False,0.666667
1,diesel,318,105.0,estate,False,True,False,False,False,True,False,0.333333

In [59]:
bmw4.loc[[630],['tipo_gasolina']]='diesel'

- color

In [60]:
bmw4.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     0
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [61]:
bmw4.color.value_counts(dropna=False,normalize=True)*100

color
black     30.950413
grey      22.107438
blue      13.347107
white      9.979339
NaN        9.194215
brown      6.239669
silver     6.033058
red        0.971074
beige      0.764463
green      0.289256
orange     0.123967
Name: proportion, dtype: float64

In [62]:
bmw5=bmw4.copy()

In [63]:
bmw5.color.fillna('other',inplace=True)

In [64]:
bmw5.color.value_counts(dropna=False,normalize=True)*100

color
black     30.950413
grey      22.107438
blue      13.347107
white      9.979339
other      9.194215
brown      6.239669
silver     6.033058
red        0.971074
beige      0.764463
green      0.289256
orange     0.123967
Name: proportion, dtype: float64

- tipo_coche

In [65]:
bmw5.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     0
color                             0
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [66]:
bmw5.tipo_coche.value_counts(dropna=False,normalize=True)*100

tipo_coche
NaN            30.123967
estate         22.871901
sedan          16.962810
suv            15.599174
hatchback      10.082645
subcompact      1.590909
coupe           1.570248
convertible     0.619835
van             0.578512
Name: proportion, dtype: float64

In [135]:
#Lista de modelos con 'tipo_coche' nulo, ordenada por cantidad ascendente.
#NO se puede tenr en cuenta el indice para cambiar el valor, es un SUBSET.
bmw5[['modelo','tipo_coche']][bmw5['tipo_coche'].isna()].value_counts(dropna=False).reset_index().sort_values(by='count').reset_index(drop=True)

               modelo  tipo_coche  count
0                 523         NaN      1
1    335 Gran Turismo         NaN      1
2                 650         NaN      1
3      418 Gran Coupé         NaN      1
4                 640         NaN      1
5                  M4         NaN      1
6    535 Gran Turismo         NaN      1
7                  Z4         NaN      1
8                 425         NaN      1
9                 430         NaN      1
10     430 Gran Coupé         NaN      1
11                123         NaN      1
12               X6 M         NaN      1
13   330 Gran Turismo         NaN      1
14                335         NaN      2
15                528         NaN      2
16               M235         NaN      2
17     435 Gran Coupé         NaN      2
18  218 Active Tourer         NaN      3
19    216 Gran Tourer         NaN      3
20                 i3         NaN      3
21                 M3         NaN      3
22               M550         NaN      4
23    218 Gran Tourer         NaN      4
24     640 Gran Coupé         NaN      5
25                218         NaN      5
26                114         NaN      5
27   520 Gran Turismo         NaN      6
28                740         NaN      6
29   530 Gran Turismo         NaN      6
30                330         NaN      6
31                325         NaN      7
32               X5 M         NaN      8
33                730         NaN     11
34                420         NaN     12
35     420 Gran Coupé         NaN     12
36                120         NaN     13
37                 X6         NaN     14
38                 X4         NaN     14
39                535         NaN     19
40   320 Gran Turismo         NaN     21
41                518         NaN     21
42   318 Gran Turismo         NaN     33
43                530         NaN     39
44                118         NaN     45
45                525         NaN     53
46                 X5         NaN     63
47                316         NaN     69
48                 X1         NaN     80
49                116         NaN    106
50                 X3         NaN    125
51                318         NaN    180
52                520         NaN    195
53                320         NaN    234

In [74]:
#Vemos el índice real dentro del DF de los registros con nulos en la columna 'tipo_coche' para después imputarles un valor según el índice
bmw5[(bmw5['modelo']=='750')]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
2540,750,69146.0,280.0,diesel,black,NaN,True,True,True,True,True,NaN,True,True,37200.0,2018-01-01
3241,750,149020.0,280.0,diesel,grey,sedan,True,True,True,True,True,False,True,NaN,37200.0,2018-05-01

In [125]:
#Evaluamos la columna 'tipo_coche' manualmente según el modelo y otros datos que tengamos de cada uno.
#modelo=750 (index=2540)
bmw5[['tipo_coche', 'modelo','potencia','tipo_gasolina']][(bmw5['modelo']=='750')]

     tipo_coche modelo  potencia tipo_gasolina
2540      sedan    750     280.0        diesel
3241      sedan    750     280.0        diesel

In [120]:
#Imputamos el modelo 750 (index= 2540) como 'sedan' 
bmw5.loc[[2540],['tipo_coche']]='sedan'

In [129]:
#modelo 328, index= 1320
bmw5[(bmw5['modelo']=='328')]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
612,328,156697.0,180.0,petrol,grey,estate,False,True,True,False,True,False,False,True,14000.0,2018-03-01
1286,328,157554.0,180.0,petrol,grey,estate,True,True,False,NaN,True,False,True,True,14400.0,2018-05-01
1320,328,59468.0,180.0,petrol,blue,NaN,True,True,False,False,False,NaN,True,True,22800.0,2018-06-01
1552,328,129317.0,180.0,petrol,white,estate,False,True,True,NaN,True,True,True,True,18600.0,2018-07-01
3201,328,119818.0,180.0,petrol,blue,sedan,False,False,False,NaN,True,True,True,NaN,12700.0,2018-05-01

In [130]:
#Imputamos el modelo 328 (index= 1320) como 'estate' 
bmw5.loc[[1320],['tipo_coche']]='estate'

In [134]:
#modelo 220, index= 23
bmw5[(bmw5['modelo']=='220')]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
16,220,21167.0,135.0,petrol,white,convertible,False,NaN,True,NaN,False,False,False,True,21900.0,2018-04-01
23,220,46963.0,140.0,diesel,orange,coupe,False,True,False,False,False,NaN,True,True,23300.0,2018-05-01
70,220,27786.0,140.0,diesel,white,coupe,False,True,False,NaN,False,True,True,False,26200.0,2018-02-01

In [133]:
#Imputamos el modelo 220 (index= 23) como 'coupe' 
bmw5.loc[[23],['tipo_coche']]='coupe'

In [136]:
#modelo 523, index= 1688
bmw5[(bmw5['modelo']=='523')]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
676,523,175642.0,150.0,petrol,grey,estate,True,True,False,False,True,False,True,NaN,14300.0,2018-03-01
1158,523,174944.0,150.0,petrol,grey,estate,True,True,False,False,True,False,True,True,11600.0,2018-05-01
1688,523,359648.0,120.0,petrol,green,NaN,True,False,False,NaN,False,False,True,True,800.0,2018-08-01
3286,523,118467.0,120.0,petrol,silver,sedan,False,False,False,NaN,False,False,False,False,800.0,2018-06-01

In [137]:
#No imputable de manera objetiva

In [189]:
bmw6=bmw5.copy()

In [226]:
bmw5[['modelo','tipo_coche']][bmw5['tipo_coche'].isna()].sort_values(by='modelo').head(15)

     modelo tipo_coche
2273    114        NaN
2001    114        NaN
3730    114        NaN
2196    114        NaN
1983    114        NaN
1977    116        NaN
2343    116        NaN
2027    116        NaN
2020    116        NaN
2019    116        NaN
2345    116        NaN
2012    116        NaN
2369    116        NaN
1998    116        NaN
1993    116        NaN

In [228]:
#Hacer esto uno a uno no es viable. Vamos a intenatr crear una función.
#Dada una columna (tipo_coche), la función debe quedarse solo con los registros nulos, y con esos regsitros, comparar
#la información de las columnas dadas a la función y contar cuantas coincidencias hay entre ellas para determinar qué valor imputar
#al nulo. Devuelve el índice del nulo del dataframe original y el valor a imputarle
columnas=bmw6.columns.tolist()
def probabilidad_nulo(df,nul_col,col):
    #Obtenemos la lista de valores únicos NO NULOS de la columna a estudiar.
    elements=df[df[nul_col].notna()][nul_col].unique().tolist()
    
   
    return elements

probabilidad_nulo(bmw6,'tipo_coche',['tipo_coche','modelo','tipo_gasolina'])

columnas

['modelo',
 'km',
 'potencia',
 'tipo_gasolina',
 'color',
 'tipo_coche',
 'volante_regulable',
 'aire_acondicionado',
 'camara_trasera',
 'asientos_traseros_plegables',
 'elevalunas_electrico',
 'bluetooth',
 'gps',
 'alerta_lim_velocidad',
 'precio',
 'fecha_venta']