__Hoja de trabajo Proyecto BMW - Toni__

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importamos los datos a un DataFrame

In [9]:
bmw=pd.read_csv('dataset/bmw_pricing_v3.csv')

In [58]:
bmw.shape

(4843, 18)

In [38]:
bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
988,BMW,318,108380.0,100.0,NaN,diesel,brown,estate,False,True,False,False,False,False,True,NaN,11100.0,2018-04-01
4267,BMW,X5,100943.0,190.0,2014-06-01,diesel,grey,suv,False,True,True,False,False,NaN,False,True,30500.0,2018-05-01
24,NaN,Z4,43662.0,180.0,NaN,petrol,orange,convertible,True,False,False,False,True,False,True,False,20800.0,2018-05-01
3401,BMW,320,178308.0,120.0,NaN,diesel,NaN,sedan,False,NaN,False,NaN,True,False,True,NaN,12400.0,2018-07-01
4710,BMW,X3,105298.0,135.0,NaN,diesel,NaN,suv,False,False,False,False,False,False,False,NaN,22000.0,2018-08-01

In [12]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [46]:
bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

__No hay duplicados__

In [65]:
bmw.duplicated().value_counts()

False    4843
Name: count, dtype: int64

In [54]:
bmw.marca.value_counts()
#se puede eliminar esta columna

marca
BMW    3873
Name: count, dtype: int64

In [57]:
bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

## __Análisis inicial__<br/>
- **4846 registros** - Hay nulos en todas las columnas menos en 'gps'<br/>
- 'modelo', 'km', 'potencia','volante_regulable', 'camara_trasera', 'elevalunas_electrico' y 'fecha_venta' tienen menos de 5 nulos. Posiblemente podamos eliminar esos registros o sean los mismos. <br/>
- 'marca' todo son WMB. Se puede eliminar la columna<br/>
- 'km' se puede pasar a int32 o int 64<br/>
- 'km' tiene valores negativos <br/>
- 'potencia' se puede parar a int8 <br/>
- 'tipo_gasolina' parece que sólo tiene 2 valores, se puede pasar a 1-diesel/0-petrol<br/>
- Deste 8-'volant_regulable' hasta 15-'alerta_lim_velocidad' son tipo 'object' (a excepción de 'gps'). Pasar a tipo 'bool'<br/>
- NO hay duplicados <br/>