__Hoja de trabajo Proyecto BMW - Toni__

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [45]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

1.- Importamos los datos a un DataFrame

In [46]:
bmw=pd.read_csv('dataset/bmw_pricing_v3.csv')

In [47]:
bmw.shape

(4843, 18)

In [48]:
bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
2614,BMW,520,141639.0,140.0,NaN,diesel,grey,sedan,True,True,True,NaN,True,True,True,True,22100.0,2018-02-01
4319,BMW,X1,82406.0,100.0,2013-07-01,diesel,black,NaN,True,NaN,True,False,False,False,True,False,14200.0,2018-05-01
1798,NaN,118,179435.0,105.0,2013-12-01,diesel,grey,hatchback,False,True,False,NaN,True,False,True,True,12800.0,2018-04-01
2392,BMW,118,167897.0,105.0,2012-09-01,diesel,white,NaN,False,True,False,False,True,True,True,NaN,12900.0,2018-08-01
3714,BMW,116,108038.0,85.0,NaN,diesel,black,NaN,False,False,False,NaN,False,False,True,True,9900.0,2018-05-01

In [49]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [50]:
bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

__2.- Análisis de duplicados__

Vemos que no hay duplicados

In [51]:
bmw.duplicated().value_counts()

False    4843
Name: count, dtype: int64

In [52]:
bmw[bmw.duplicated()]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

__3.- Análisis de nulos__

In [53]:
bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.1- MARCA

In [54]:
bmw.marca.unique()

array([nan, 'BMW'], dtype=object)

In [55]:
bmw.marca.value_counts(dropna=False, normalize=True)

marca
BMW    0.799711
NaN    0.200289
Name: proportion, dtype: float64

In [73]:
bmw2=bmw.copy()

In [74]:
del(bmw2['marca'])

In [75]:
bmw2.head()

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

- 3.2- FECHA_REGISTRO

In [76]:
bmw2.fecha_registro.value_counts(dropna=False, normalize=True)*100

fecha_registro
NaN           50.030973
2013-07-01     1.920297
2014-03-01     1.713814
2014-05-01     1.672517
2013-01-01     1.610572
2013-10-01     1.589924
2014-02-01     1.527979
2013-06-01     1.383440
2014-01-01     1.383440
2013-02-01     1.383440
2013-11-01     1.259550
2012-10-01     1.259550
2013-04-01     1.218253
2014-04-01     1.197605
2013-09-01     1.197605
2013-03-01     1.197605
2013-08-01     1.115011
2012-06-01     1.115011
2014-07-01     1.115011
2014-09-01     1.011770
2013-05-01     0.949824
2014-08-01     0.929176
2012-11-01     0.887879
2012-03-01     0.867231
2014-06-01     0.846583
2013-12-01     0.825934
2012-01-01     0.722693
2014-10-01     0.722693
2014-11-01     0.702044
2012-04-01     0.702044
2012-07-01     0.681396
2012-09-01     0.660747
2012-08-01     0.598802
2015-03-01     0.578154
2012-05-01     0.557506
2012-12-01     0.536857
2012-02-01     0.392319
2015-06-01     0.392319
2015-10-01     0.392319
2015-01-01     0.371670
2015-05-01     0.371670
2014-12-01     0.289077
2015-04-01     0.289077
2011-10-01     0.289077
2011-06-01     0.289077
2011-05-01     0.247780
2015-07-01     0.247780
2011-12-01     0.247780
2011-09-01     0.227132
2011-08-01     0.227132
2011-03-01     0.227132
2009-01-01     0.185835
2011-01-01     0.185835
2015-11-01     0.185835
2015-02-01     0.165187
2016-06-01     0.165187
2011-04-01     0.165187
2016-04-01     0.165187
2006-07-01     0.144539
2015-12-01     0.144539
2011-11-01     0.144539
2016-03-01     0.123890
2010-10-01     0.123890
2006-08-01     0.123890
2015-08-01     0.123890
2010-03-01     0.123890
2007-08-01     0.123890
2010-02-01     0.103242
2007-04-01     0.103242
2010-09-01     0.103242
2008-07-01     0.103242
2005-06-01     0.103242
2009-04-01     0.103242
2008-01-01     0.103242
2010-11-01     0.103242
2010-07-01     0.103242
2010-04-01     0.103242
2008-05-01     0.103242
2011-07-01     0.082593
2008-11-01     0.082593
2016-02-01     0.082593
2005-11-01     0.082593
2016-10-01     0.082593
2009-11-01     0.082593
2008-04-01     0.082593
2010-12-01     0.082593
2009-09-01     0.082593
2009-05-01     0.082593
2016-09-01     0.082593
2015-09-01     0.082593
2007-07-01     0.082593
2008-02-01     0.082593
2016-01-01     0.082593
2009-07-01     0.082593
2011-02-01     0.082593
2010-05-01     0.082593
2003-08-01     0.061945
2008-08-01     0.061945
2016-07-01     0.061945
2009-08-01     0.061945
2008-03-01     0.061945
2008-12-01     0.061945
2007-10-01     0.061945
1997-07-01     0.061945
2007-06-01     0.061945
2008-06-01     0.061945
2005-05-01     0.061945
2005-03-01     0.061945
2005-10-01     0.061945
2005-08-01     0.041297
2007-11-01     0.041297
2006-05-01     0.041297
2008-09-01     0.041297
2005-04-01     0.041297
2005-12-01     0.041297
2016-05-01     0.041297
2006-10-01     0.041297
2000-02-01     0.041297
2017-01-01     0.041297
2006-02-01     0.041297
2006-12-01     0.041297
2010-01-01     0.041297
2010-06-01     0.041297
2006-01-01     0.041297
2002-05-01     0.041297
2001-05-01     0.041297
2009-02-01     0.041297
2010-08-01     0.041297
2004-07-01     0.041297
2007-03-01     0.041297
2004-02-01     0.041297
2008-10-01     0.041297
2001-04-01     0.041297
2006-09-01     0.041297
2001-01-01     0.020648
2006-03-01     0.020648
2006-06-01     0.020648
2004-11-01     0.020648
2004-10-01     0.020648
2003-09-01     0.020648
1997-01-01     0.020648
1999-03-01     0.020648
2001-03-01     0.020648
2004-06-01     0.020648
2004-08-01     0.020648
2017-02-01     0.020648
2004-03-01     0.020648
2016-12-01     0.020648
2005-07-01     0.020648
2009-12-01     0.020648
2017-07-01     0.020648
1999-06-01     0.020648
2007-05-01     0.020648
2005-02-01     0.020648
2003-11-01     0.020648
2006-04-01     0.020648
2001-02-01     0.020648
2017-11-01     0.020648
2009-10-01     0.020648
2001-09-01     0.020648
1995-10-01     0.020648
2007-02-01     0.020648
2009-03-01     0.020648
2003-06-01     0.020648
2009-06-01     0.020648
2007-09-01     0.020648
2003-04-01     0.020648
2002-09-01     0.020648
2000-03-01     0.020648
2016-08-01     0.020648
2016-11-01     0.020648
2005-01-01     0.020648
2002-06-01     0.020648
1999-11-01     0.020648
2004-01-01     0.020648
2003-07-01     0.020648
2007-01-01     0.020648
1990-03-01     0.020648
2006-11-01     0.020648
1994-01-01     0.020648
2005-09-01     0.020648
Name: proportion, dtype: float64

Demasiados nulos; la eliminamos.

In [77]:
bmw3=bmw2.copy()

In [78]:
del(bmw3['fecha_registro'])

In [79]:
bmw3.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.3- COLOR

In [80]:
bmw3.color.value_counts(dropna=False,normalize=True)*100

color
black     30.951889
grey      22.093744
blue      13.359488
white      9.993805
NaN        9.188520
brown      6.235804
silver     6.029321
red        0.970473
beige      0.763989
green      0.289077
orange     0.123890
Name: proportion, dtype: float64

9,18% de nulos de la muestra total. No los eliminamos. Imputamos le valor 'sin_info_color'

In [81]:
bmw4=bmw3.copy()

In [82]:
bmw4['color'].fillna('otros',inplace=True)

In [83]:
bmw4.color.value_counts(dropna=False,normalize=True)*100

color
black     30.951889
grey      22.093744
blue      13.359488
white      9.993805
otros      9.188520
brown      6.235804
silver     6.029321
red        0.970473
beige      0.763989
green      0.289077
orange     0.123890
Name: proportion, dtype: float64

In [84]:
bmw4.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.4- TIPO_COCHE

In [85]:
bmw4.tipo_coche.value_counts(dropna=False,normalize=True)*100

tipo_coche
NaN            30.146603
estate         22.857733
sedan          16.952302
suv            15.589511
hatchback      10.076399
subcompact      1.589924
coupe           1.569275
convertible     0.619451
van             0.598802
Name: proportion, dtype: float64

30.14% de nulos. No los podemos eliminar al ser infomración valiosa

In [86]:
bmw4.tipo_coche.value_counts()

tipo_coche
estate         1107
sedan           821
suv             755
hatchback       488
subcompact       77
coupe            76
convertible      30
van              29
Name: count, dtype: int64

In [87]:
bmw4.groupby(['modelo', 'tipo_coche'], dropna = False)['modelo'].count()

modelo             tipo_coche
 Active Tourer     van              1
114                hatchback        6
                   subcompact       4
                   NaN              5
116                estate           2
                   hatchback      191
                   sedan            3
                   subcompact      56
                   NaN            106
118                convertible      1
                   coupe            2
                   hatchback       79
                   sedan            3
                   subcompact      13
                   NaN             45
120                convertible      4
                   hatchback       16
                   sedan            1
                   subcompact       2
                   NaN             13
123                hatchback        1
                   NaN              1
125                hatchback        5
135                convertible      1
                   coupe            1
                   hatchback        2
214 Gran Tourer    van              1
216                van              1
216 Active Tourer  van              3
216 Gran Tourer    van              1
                   NaN              3
218                convertible      3
                   coupe            2
                   van              2
                   NaN              5
218 Active Tourer  van             10
                   NaN              3
218 Gran Tourer    van              5
                   NaN              4
220                convertible      1
                   coupe            1
                   NaN              1
220 Active Tourer  van              1
225                coupe            1
225 Active Tourer  van              1
316                coupe            1
                   estate          79
                   hatchback        1
                   sedan           85
                   NaN             69
318                convertible      3
                   estate         273
                   hatchback        1
                   sedan          110
                   subcompact       2
                   NaN            179
318 Gran Turismo   hatchback       55
                   sedan            9
                   NaN             33
320                convertible      4
                   coupe           13
                   estate         305
                   hatchback       17
                   sedan          179
                   NaN            234
320 Gran Turismo   hatchback       38
                   sedan           13
                   van              1
                   NaN             21
325                convertible      1
                   coupe            2
                   estate           6
                   sedan            3
                   NaN              7
325 Gran Turismo   estate           1
                   hatchback        3
328                estate           3
                   sedan            1
                   NaN              1
330                convertible      1
                   coupe            2
                   estate          18
                   sedan            6
                   NaN              6
330 Gran Turismo   hatchback        2
                   NaN              1
335                coupe            2
                   estate           1
                   sedan            2
                   NaN              2
335 Gran Turismo   hatchback        2
                   NaN              1
418 Gran Coupé     hatchback        7
                   NaN              1
420                convertible      4
                   coupe           26
                   hatchback        1
                   sedan            1
                   NaN             12
420 Gran Coupé     hatchback       18
                   sedan            3
                   NaN             12
425                coupe            1
                   NaN              1
430                coupe            1
                   NaN              1
430 Gran Coupé     coupe            1
                   hatchback        2
                   NaN              1
435                coupe            4
435 Gran Coupé     coupe            1
                   hatchback        2
                   sedan            1
                   NaN              2
518                estate          21
                   sedan           24
                   NaN             21
520                estate         234
                   hatchback        5
                   sedan          197
                   suv              1
                   NaN            196
520 Gran Turismo   hatchback       16
                   sedan            1
                   NaN              6
523                estate           2
                   sedan            1
                   NaN              1
525                estate          79
                   sedan           52
                   NaN             53
528                estate           1
                   sedan            3
                   NaN              2
530                estate          67
                   hatchback        1
                   sedan           50
                   NaN             39
530 Gran Turismo   hatchback        6
                   sedan            6
                   NaN              6
535                estate          11
                   sedan           16
                   NaN             19
535 Gran Turismo   sedan            1
                   NaN              1
630                coupe            1
635                coupe            1
640                coupe            7
                   NaN              1
640 Gran Coupé     coupe            2
                   hatchback        6
                   sedan            6
                   NaN              5
650                convertible      1
                   NaN              1
730                hatchback        1
                   sedan           21
                   NaN             11
735                sedan            1
740                sedan           12
                   NaN              6
750                sedan            1
                   NaN              1
ActiveHybrid 5     sedan            1
M135               hatchback        1
M235               coupe            1
                   NaN              2
M3                 coupe            2
                   sedan            2
                   NaN              3
M4                 convertible      1
                   NaN              1
M5                 sedan            1
M550               estate           3
                   sedan            5
                   NaN              4
X1                 suv            193
                   van              1
                   NaN             80
X3                 estate           1
                   suv            311
                   van              1
                   NaN            125
X4                 suv             32
                   NaN             14
X5                 suv            168
                   NaN             63
X5 M               suv              9
                   NaN              8
X5 M50             suv              3
X6                 suv             30
                   NaN             14
X6 M               suv              7
                   NaN              1
Z4                 convertible      5
                   NaN              1
i3                 hatchback        3
                   NaN              3
i8                 coupe            1
NaN                suv              0
                   NaN              0
Name: modelo, dtype: int64

In [88]:
bmw5=bmw4.copy()

In [89]:
bmw5.tipo_coche.fillna('otros',inplace=True)

In [93]:
bmw5.tipo_coche.value_counts(normalize=True)*100

tipo_coche
otros          30.146603
estate         22.857733
sedan          16.952302
suv            15.589511
hatchback      10.076399
subcompact      1.589924
coupe           1.569275
convertible     0.619451
van             0.598802
Name: proportion, dtype: float64

In [94]:
bmw5.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                        0
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.5.- AIRE_ACONDICIONADO

In [95]:
bmw5.aire_acondicionado.value_counts(dropna=False,normalize=True)*100

aire_acondicionado
True     71.546562
False    18.418336
NaN      10.035102
Name: proportion, dtype: float64

In [96]:
bmw6=bmw5.copy()

In [97]:
bmw6.aire_acondicionado.fillna('sin_info',inplace=True)

In [98]:
bmw6.aire_acondicionado.value_counts(dropna=False,normalize=True)*100

aire_acondicionado
True        71.546562
False       18.418336
sin_info    10.035102
Name: proportion, dtype: float64

In [99]:
bmw6.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                        0
volante_regulable                 4
aire_acondicionado                0
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.6.- ASIENTOS_TRASEROS_PLEGABLES

In [101]:
bmw6.asientos_traseros_plegables.value_counts(dropna=False,normalize=True)*100

asientos_traseros_plegables
NaN      70.018584
False    23.745612
True      6.235804
Name: proportion, dtype: float64

In [102]:
bmw7=bmw6.copy()

In [103]:
del(bmw7['asientos_traseros_plegables'])

In [105]:
bmw7.isnull().sum()

modelo                    3
km                        2
potencia                  1
tipo_gasolina             5
color                     0
tipo_coche                0
volante_regulable         4
aire_acondicionado        0
camara_trasera            2
elevalunas_electrico      2
bluetooth               728
gps                       0
alerta_lim_velocidad    728
precio                    6
fecha_venta               1
dtype: int64

- 3.7.- BLUETOOTH

In [106]:
bmw7.bluetooth.value_counts(dropna=False,normalize=True)*100

bluetooth
False    64.402230
True     20.565765
NaN      15.032005
Name: proportion, dtype: float64

In [111]:
bmw8=bmw7.copy()

In [112]:
bmw8.bluetooth.fillna('sin_info',inplace=True)

In [113]:
bmw8.isnull().sum()

modelo                    3
km                        2
potencia                  1
tipo_gasolina             5
color                     0
tipo_coche                0
volante_regulable         4
aire_acondicionado        0
camara_trasera            2
elevalunas_electrico      2
bluetooth                 0
gps                       0
alerta_lim_velocidad    728
precio                    6
fecha_venta               1
dtype: int64

- 3.8.- ALERTA_LIM_VELOCIDAD

In [115]:
bmw8.alerta_lim_velocidad.value_counts(dropna=False,normalize=True)*100

alerta_lim_velocidad
True     46.252323
False    38.715672
NaN      15.032005
Name: proportion, dtype: float64

In [116]:
bmw9=bmw8.copy()

In [117]:
bmw9.alerta_lim_velocidad.fillna('sin_info',inplace=True)

In [118]:
bmw9.isnull().sum()

modelo                  3
km                      2
potencia                1
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

3.9.- Categorías con pocos nulos.