__Hoja de trabajo Proyecto BMW - Toni__

In [621]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [622]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

### 1.- Importamos los datos a un DataFrame

In [623]:
bmw=pd.read_csv('dataset/bmw_pricing_v3.csv')

In [624]:
bmw.shape

(4843, 18)

In [625]:
bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4034,BMW,X5,187080.0,173.0,NaN,diesel,silver,suv,True,NaN,True,True,True,False,True,True,11100.0,2018-03-01
2007,BMW,116,52139.0,85.0,2012-11-01,diesel,blue,hatchback,False,False,False,NaN,False,False,True,NaN,9400.0,2018-03-01
1657,BMW,318,121459.0,100.0,NaN,diesel,brown,estate,False,NaN,False,NaN,False,True,True,False,11200.0,2018-08-01
2324,BMW,640 Gran Coupé,84187.0,230.0,NaN,diesel,NaN,hatchback,True,True,False,NaN,True,False,True,True,30000.0,2018-07-01
1142,BMW,320,89158.0,135.0,NaN,diesel,black,estate,True,True,False,True,True,True,True,True,19500.0,2018-05-01

In [626]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [627]:
bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

### __2.- Análisis de duplicados__

Vemos que no hay duplicados

In [628]:
bmw.duplicated().value_counts()

False    4843
Name: count, dtype: int64

In [629]:
bmw[bmw.duplicated()]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

### __3.- Análisis de nulos__

In [630]:
bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.1- MARCA

In [631]:
bmw.marca.unique()

array([nan, 'BMW'], dtype=object)

In [632]:
bmw.marca.value_counts(dropna=False, normalize=True)

marca
BMW    0.799711
NaN    0.200289
Name: proportion, dtype: float64

In [633]:
bmw2=bmw.copy()

In [634]:
del(bmw2['marca'])

In [635]:
bmw2.head()

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

- 3.2- FECHA_REGISTRO

In [636]:
bmw2.fecha_registro.value_counts(dropna=False, normalize=True)*100

fecha_registro
NaN           50.030973
2013-07-01     1.920297
2014-03-01     1.713814
2014-05-01     1.672517
2013-01-01     1.610572
2013-10-01     1.589924
2014-02-01     1.527979
2013-06-01     1.383440
2014-01-01     1.383440
2013-02-01     1.383440
2013-11-01     1.259550
2012-10-01     1.259550
2013-04-01     1.218253
2014-04-01     1.197605
2013-09-01     1.197605
2013-03-01     1.197605
2013-08-01     1.115011
2012-06-01     1.115011
2014-07-01     1.115011
2014-09-01     1.011770
2013-05-01     0.949824
2014-08-01     0.929176
2012-11-01     0.887879
2012-03-01     0.867231
2014-06-01     0.846583
2013-12-01     0.825934
2012-01-01     0.722693
2014-10-01     0.722693
2014-11-01     0.702044
2012-04-01     0.702044
2012-07-01     0.681396
2012-09-01     0.660747
2012-08-01     0.598802
2015-03-01     0.578154
2012-05-01     0.557506
2012-12-01     0.536857
2012-02-01     0.392319
2015-06-01     0.392319
2015-10-01     0.392319
2015-01-01     0.371670
2015-05-01     0.371670
2014-12-01     0.289077
2015-04-01     0.289077
2011-10-01     0.289077
2011-06-01     0.289077
2011-05-01     0.247780
2015-07-01     0.247780
2011-12-01     0.247780
2011-09-01     0.227132
2011-08-01     0.227132
2011-03-01     0.227132
2009-01-01     0.185835
2011-01-01     0.185835
2015-11-01     0.185835
2015-02-01     0.165187
2016-06-01     0.165187
2011-04-01     0.165187
2016-04-01     0.165187
2006-07-01     0.144539
2015-12-01     0.144539
2011-11-01     0.144539
2016-03-01     0.123890
2010-10-01     0.123890
2006-08-01     0.123890
2015-08-01     0.123890
2010-03-01     0.123890
2007-08-01     0.123890
2010-02-01     0.103242
2007-04-01     0.103242
2010-09-01     0.103242
2008-07-01     0.103242
2005-06-01     0.103242
2009-04-01     0.103242
2008-01-01     0.103242
2010-11-01     0.103242
2010-07-01     0.103242
2010-04-01     0.103242
2008-05-01     0.103242
2011-07-01     0.082593
2008-11-01     0.082593
2016-02-01     0.082593
2005-11-01     0.082593
2016-10-01     0.082593
2009-11-01     0.082593
2008-04-01     0.082593
2010-12-01     0.082593
2009-09-01     0.082593
2009-05-01     0.082593
2016-09-01     0.082593
2015-09-01     0.082593
2007-07-01     0.082593
2008-02-01     0.082593
2016-01-01     0.082593
2009-07-01     0.082593
2011-02-01     0.082593
2010-05-01     0.082593
2003-08-01     0.061945
2008-08-01     0.061945
2016-07-01     0.061945
2009-08-01     0.061945
2008-03-01     0.061945
2008-12-01     0.061945
2007-10-01     0.061945
1997-07-01     0.061945
2007-06-01     0.061945
2008-06-01     0.061945
2005-05-01     0.061945
2005-03-01     0.061945
2005-10-01     0.061945
2005-08-01     0.041297
2007-11-01     0.041297
2006-05-01     0.041297
2008-09-01     0.041297
2005-04-01     0.041297
2005-12-01     0.041297
2016-05-01     0.041297
2006-10-01     0.041297
2000-02-01     0.041297
2017-01-01     0.041297
2006-02-01     0.041297
2006-12-01     0.041297
2010-01-01     0.041297
2010-06-01     0.041297
2006-01-01     0.041297
2002-05-01     0.041297
2001-05-01     0.041297
2009-02-01     0.041297
2010-08-01     0.041297
2004-07-01     0.041297
2007-03-01     0.041297
2004-02-01     0.041297
2008-10-01     0.041297
2001-04-01     0.041297
2006-09-01     0.041297
2001-01-01     0.020648
2006-03-01     0.020648
2006-06-01     0.020648
2004-11-01     0.020648
2004-10-01     0.020648
2003-09-01     0.020648
1997-01-01     0.020648
1999-03-01     0.020648
2001-03-01     0.020648
2004-06-01     0.020648
2004-08-01     0.020648
2017-02-01     0.020648
2004-03-01     0.020648
2016-12-01     0.020648
2005-07-01     0.020648
2009-12-01     0.020648
2017-07-01     0.020648
1999-06-01     0.020648
2007-05-01     0.020648
2005-02-01     0.020648
2003-11-01     0.020648
2006-04-01     0.020648
2001-02-01     0.020648
2017-11-01     0.020648
2009-10-01     0.020648
2001-09-01     0.020648
1995-10-01     0.020648
2007-02-01     0.020648
2009-03-01     0.020648
2003-06-01     0.020648
2009-06-01     0.020648
2007-09-01     0.020648
2003-04-01     0.020648
2002-09-01     0.020648
2000-03-01     0.020648
2016-08-01     0.020648
2016-11-01     0.020648
2005-01-01     0.020648
2002-06-01     0.020648
1999-11-01     0.020648
2004-01-01     0.020648
2003-07-01     0.020648
2007-01-01     0.020648
1990-03-01     0.020648
2006-11-01     0.020648
1994-01-01     0.020648
2005-09-01     0.020648
Name: proportion, dtype: float64

Demasiados nulos; la eliminamos.

In [637]:
bmw3=bmw2.copy()

In [638]:
del(bmw3['fecha_registro'])

In [639]:
bmw3.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.3- COLOR

In [640]:
bmw3.color.value_counts(dropna=False,normalize=True)*100

color
black     30.951889
grey      22.093744
blue      13.359488
white      9.993805
NaN        9.188520
brown      6.235804
silver     6.029321
red        0.970473
beige      0.763989
green      0.289077
orange     0.123890
Name: proportion, dtype: float64

9,18% de nulos de la muestra total. No los eliminamos. Imputamos le valor 'sin_info_color'

In [641]:
bmw4=bmw3.copy()

In [642]:
bmw4['color'].fillna('otros',inplace=True)

In [643]:
bmw4.color.value_counts(dropna=False,normalize=True)*100

color
black     30.951889
grey      22.093744
blue      13.359488
white      9.993805
otros      9.188520
brown      6.235804
silver     6.029321
red        0.970473
beige      0.763989
green      0.289077
orange     0.123890
Name: proportion, dtype: float64

In [644]:
bmw4.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.4- TIPO_COCHE

In [645]:
bmw4.tipo_coche.value_counts(dropna=False,normalize=True)*100

tipo_coche
NaN            30.146603
estate         22.857733
sedan          16.952302
suv            15.589511
hatchback      10.076399
subcompact      1.589924
coupe           1.569275
convertible     0.619451
van             0.598802
Name: proportion, dtype: float64

30.14% de nulos. No los podemos eliminar al ser infomración valiosa

In [646]:
bmw4.tipo_coche.value_counts()

tipo_coche
estate         1107
sedan           821
suv             755
hatchback       488
subcompact       77
coupe            76
convertible      30
van              29
Name: count, dtype: int64

In [647]:
bmw4.groupby(['modelo', 'tipo_coche'], dropna = False)['modelo'].count()

modelo             tipo_coche
 Active Tourer     van              1
114                hatchback        6
                   subcompact       4
                   NaN              5
116                estate           2
                   hatchback      191
                   sedan            3
                   subcompact      56
                   NaN            106
118                convertible      1
                   coupe            2
                   hatchback       79
                   sedan            3
                   subcompact      13
                   NaN             45
120                convertible      4
                   hatchback       16
                   sedan            1
                   subcompact       2
                   NaN             13
123                hatchback        1
                   NaN              1
125                hatchback        5
135                convertible      1
                   coupe            1
                   hatchback        2
214 Gran Tourer    van              1
216                van              1
216 Active Tourer  van              3
216 Gran Tourer    van              1
                   NaN              3
218                convertible      3
                   coupe            2
                   van              2
                   NaN              5
218 Active Tourer  van             10
                   NaN              3
218 Gran Tourer    van              5
                   NaN              4
220                convertible      1
                   coupe            1
                   NaN              1
220 Active Tourer  van              1
225                coupe            1
225 Active Tourer  van              1
316                coupe            1
                   estate          79
                   hatchback        1
                   sedan           85
                   NaN             69
318                convertible      3
                   estate         273
                   hatchback        1
                   sedan          110
                   subcompact       2
                   NaN            179
318 Gran Turismo   hatchback       55
                   sedan            9
                   NaN             33
320                convertible      4
                   coupe           13
                   estate         305
                   hatchback       17
                   sedan          179
                   NaN            234
320 Gran Turismo   hatchback       38
                   sedan           13
                   van              1
                   NaN             21
325                convertible      1
                   coupe            2
                   estate           6
                   sedan            3
                   NaN              7
325 Gran Turismo   estate           1
                   hatchback        3
328                estate           3
                   sedan            1
                   NaN              1
330                convertible      1
                   coupe            2
                   estate          18
                   sedan            6
                   NaN              6
330 Gran Turismo   hatchback        2
                   NaN              1
335                coupe            2
                   estate           1
                   sedan            2
                   NaN              2
335 Gran Turismo   hatchback        2
                   NaN              1
418 Gran Coupé     hatchback        7
                   NaN              1
420                convertible      4
                   coupe           26
                   hatchback        1
                   sedan            1
                   NaN             12
420 Gran Coupé     hatchback       18
                   sedan            3
                   NaN             12
425                coupe            1
                   NaN              1
430                coupe            1
                   NaN              1
430 Gran Coupé     coupe            1
                   hatchback        2
                   NaN              1
435                coupe            4
435 Gran Coupé     coupe            1
                   hatchback        2
                   sedan            1
                   NaN              2
518                estate          21
                   sedan           24
                   NaN             21
520                estate         234
                   hatchback        5
                   sedan          197
                   suv              1
                   NaN            196
520 Gran Turismo   hatchback       16
                   sedan            1
                   NaN              6
523                estate           2
                   sedan            1
                   NaN              1
525                estate          79
                   sedan           52
                   NaN             53
528                estate           1
                   sedan            3
                   NaN              2
530                estate          67
                   hatchback        1
                   sedan           50
                   NaN             39
530 Gran Turismo   hatchback        6
                   sedan            6
                   NaN              6
535                estate          11
                   sedan           16
                   NaN             19
535 Gran Turismo   sedan            1
                   NaN              1
630                coupe            1
635                coupe            1
640                coupe            7
                   NaN              1
640 Gran Coupé     coupe            2
                   hatchback        6
                   sedan            6
                   NaN              5
650                convertible      1
                   NaN              1
730                hatchback        1
                   sedan           21
                   NaN             11
735                sedan            1
740                sedan           12
                   NaN              6
750                sedan            1
                   NaN              1
ActiveHybrid 5     sedan            1
M135               hatchback        1
M235               coupe            1
                   NaN              2
M3                 coupe            2
                   sedan            2
                   NaN              3
M4                 convertible      1
                   NaN              1
M5                 sedan            1
M550               estate           3
                   sedan            5
                   NaN              4
X1                 suv            193
                   van              1
                   NaN             80
X3                 estate           1
                   suv            311
                   van              1
                   NaN            125
X4                 suv             32
                   NaN             14
X5                 suv            168
                   NaN             63
X5 M               suv              9
                   NaN              8
X5 M50             suv              3
X6                 suv             30
                   NaN             14
X6 M               suv              7
                   NaN              1
Z4                 convertible      5
                   NaN              1
i3                 hatchback        3
                   NaN              3
i8                 coupe            1
NaN                suv              0
                   NaN              0
Name: modelo, dtype: int64

In [648]:
bmw5=bmw4.copy()

In [649]:
bmw5.tipo_coche.fillna('otros',inplace=True)

In [650]:
bmw5.tipo_coche.value_counts(normalize=True)*100

tipo_coche
otros          30.146603
estate         22.857733
sedan          16.952302
suv            15.589511
hatchback      10.076399
subcompact      1.589924
coupe           1.569275
convertible     0.619451
van             0.598802
Name: proportion, dtype: float64

In [651]:
bmw5.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                        0
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.5.- AIRE_ACONDICIONADO

In [652]:
bmw5.aire_acondicionado.value_counts(dropna=False,normalize=True)*100

aire_acondicionado
True     71.546562
False    18.418336
NaN      10.035102
Name: proportion, dtype: float64

In [653]:
bmw6=bmw5.copy()

In [654]:
bmw6.aire_acondicionado.fillna('sin_info',inplace=True)

In [655]:
bmw6.aire_acondicionado.value_counts(dropna=False,normalize=True)*100

aire_acondicionado
True        71.546562
False       18.418336
sin_info    10.035102
Name: proportion, dtype: float64

In [656]:
bmw6.isnull().sum()

modelo                            3
km                                2
potencia                          1
tipo_gasolina                     5
color                             0
tipo_coche                        0
volante_regulable                 4
aire_acondicionado                0
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- 3.6.- ASIENTOS_TRASEROS_PLEGABLES

In [657]:
bmw6.asientos_traseros_plegables.value_counts(dropna=False,normalize=True)*100

asientos_traseros_plegables
NaN      70.018584
False    23.745612
True      6.235804
Name: proportion, dtype: float64

In [658]:
bmw7=bmw6.copy()

In [659]:
del(bmw7['asientos_traseros_plegables'])

In [660]:
bmw7.isnull().sum()

modelo                    3
km                        2
potencia                  1
tipo_gasolina             5
color                     0
tipo_coche                0
volante_regulable         4
aire_acondicionado        0
camara_trasera            2
elevalunas_electrico      2
bluetooth               728
gps                       0
alerta_lim_velocidad    728
precio                    6
fecha_venta               1
dtype: int64

- 3.7.- BLUETOOTH

In [661]:
bmw7.bluetooth.value_counts(dropna=False,normalize=True)*100

bluetooth
False    64.402230
True     20.565765
NaN      15.032005
Name: proportion, dtype: float64

In [662]:
bmw8=bmw7.copy()

In [663]:
bmw8.bluetooth.fillna('sin_info',inplace=True)

In [664]:
bmw8.isnull().sum()

modelo                    3
km                        2
potencia                  1
tipo_gasolina             5
color                     0
tipo_coche                0
volante_regulable         4
aire_acondicionado        0
camara_trasera            2
elevalunas_electrico      2
bluetooth                 0
gps                       0
alerta_lim_velocidad    728
precio                    6
fecha_venta               1
dtype: int64

- 3.8.- ALERTA_LIM_VELOCIDAD

In [665]:
bmw8.alerta_lim_velocidad.value_counts(dropna=False,normalize=True)*100

alerta_lim_velocidad
True     46.252323
False    38.715672
NaN      15.032005
Name: proportion, dtype: float64

In [666]:
bmw9=bmw8.copy()

In [667]:
bmw9.alerta_lim_velocidad.fillna('sin_info',inplace=True)

In [668]:
bmw9.isnull().sum()

modelo                  3
km                      2
potencia                1
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

3.9.- Categorías con pocos nulos.


    3.9.1.- MODELO

In [669]:
bmw9[bmw9.modelo.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,NaN,146338.0,105.0,diesel,black,otros,False,True,False,False,sin_info,True,sin_info,13300.0,2018-08-01
4766,NaN,115566.0,105.0,diesel,silver,suv,False,True,False,True,False,True,False,14900.0,2018-09-01
4802,NaN,118640.0,110.0,diesel,white,otros,False,False,False,False,False,False,False,800.0,2018-03-01

Evaluamos los 3 nulos de forma individual

In [670]:
#Vehículo indice 173
bmw9[(bmw9['potencia']==105) & (bmw9['tipo_gasolina']=='diesel')&(bmw9['aire_acondicionado']==True)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['volante_regulable']==False)&(bmw9['gps']==True)]['modelo'].value_counts(normalize=True)*100

modelo
318                 63.106796
X1                  11.650485
118                 10.679612
318 Gran Turismo     9.708738
X3                   3.883495
525                  0.970874
Name: proportion, dtype: float64

In [671]:
#Imputamos el modelo 318
bmw9.loc[[173],['modelo']]='318'

In [672]:
#Checkeo
bmw9.loc[[173]]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,318,146338.0,105.0,diesel,black,otros,False,True,False,False,sin_info,True,sin_info,13300.0,2018-08-01

In [673]:
#Vehículo indice 4766
bmw9[(bmw9['potencia']==105) & (bmw9['tipo_gasolina']=='diesel')&(bmw9['aire_acondicionado']==True)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==True)&(bmw9['volante_regulable']==False)&(bmw9['gps']==True)&(bmw9['tipo_coche']=='suv')&(bmw9['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X1    62.5
X3    37.5
Name: proportion, dtype: float64

In [674]:
#Imputamos el modelo X1
bmw9.loc[[4766],['modelo']]='X1'

In [675]:
#chekeo
bmw9.loc[[4766]]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4766,X1,115566.0,105.0,diesel,silver,suv,False,True,False,True,False,True,False,14900.0,2018-09-01

In [676]:
#Vehículo indice 4802
bmw9[(bmw9['potencia']==110) & (bmw9['tipo_gasolina']=='diesel')&(bmw9['aire_acondicionado']==False)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['volante_regulable']==False)&(bmw9['gps']==False)&(bmw9['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X3     33.333333
218    33.333333
318    16.666667
X1     16.666667
Name: proportion, dtype: float64

In [677]:
#Vehículo indice 4802
bmw9[(bmw2['potencia']==110) & (bmw9['tipo_gasolina']=='diesel')&(bmw9['aire_acondicionado']==False)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['volante_regulable']==False)&(bmw9['gps']==False)&(bmw9['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X3     33.333333
218    33.333333
318    16.666667
X1     16.666667
Name: proportion, dtype: float64

In [678]:
#No podemos imputar un valor más probable.
#Lo eliminamos
bmw9=bmw9.drop(index=4802)

In [679]:
#bmw9.loc[[4802]]

In [680]:
bmw9.isnull().sum()

modelo                  0
km                      2
potencia                1
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.2.- KM

In [681]:
bmw9[bmw9['km'].isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
459,520,NaN,135.0,diesel,black,otros,True,True,True,True,True,True,True,20300.0,2018-02-01
4811,X3,NaN,190.0,diesel,blue,van,True,True,True,True,False,True,True,19500.0,2018-07-01

No podemos imputar de ninguna manera los KM de cada vehículo. Los eliminamos.

In [682]:
bmw9.dropna(subset='km', inplace=True)

In [683]:
bmw9[bmw9['km'].isnull()]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [684]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                1
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.3.- POTENCIA

In [685]:
bmw9[bmw9['potencia'].isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
181,525,106054.0,NaN,diesel,black,estate,False,True,False,False,False,True,True,18700.0,2018-03-01

In [686]:
#Podemos averigual la potencia segun modelo y otras variables?
bmw9[['modelo','potencia','tipo_gasolina','tipo_coche','volante_regulable','aire_acondicionado','elevalunas_electrico']][(bmw9['modelo']=='525')&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='estate')&(bmw9['volante_regulable']==False)&(bmw9['aire_acondicionado']==True)&(bmw9['elevalunas_electrico']==False)].value_counts().reset_index()

,modelo,potencia,tipo_gasolina,tipo_coche,volante_regulable,aire_acondicionado,elevalunas_electrico,count
0,525,160.0,diesel,estate,False,True,False,4

In [687]:
#Imputamos el valor 160
bmw9.loc[[181],['potencia']]=160.0

In [688]:
bmw9[bmw9['potencia'].isnull()]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [689]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           5
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.4.- TIPO_GASOLINA

In [690]:
bmw9[bmw9.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
82,420,54993.0,135.0,NaN,black,otros,False,False,False,False,False,False,False,18400.0,2018-03-01
185,320,186697.0,135.0,NaN,white,estate,False,False,False,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,otros,False,True,False,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,sin_info,False,False,False,False,True,100.0,2018-03-01

In [691]:
#Evaluamos el modelo 420 (indice 82) para ver si podemos imputar el tipo_gasolina
bmw9[['modelo','potencia','tipo_gasolina','volante_regulable','aire_acondicionado']][(bmw9['modelo']=='420')&(bmw9['potencia']==135)&(bmw9['volante_regulable']==False)&(bmw9['aire_acondicionado']==False)].value_counts().reset_index()

  modelo  potencia tipo_gasolina  volante_regulable  aire_acondicionado  count
0    420     135.0        diesel              False               False      7

In [692]:
#Imputamos el valor 'diesel'
bmw9.loc[[82],['tipo_gasolina']]='diesel'
#check
bmw9.loc[[82],['tipo_gasolina']]

   tipo_gasolina
82        diesel

In [693]:
bmw9[bmw9.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
185,320,186697.0,135.0,NaN,white,estate,False,False,False,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,otros,False,True,False,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,sin_info,False,False,False,False,True,100.0,2018-03-01

In [694]:
#Evaluamos el modelo 320 (indice 185) para ver si podemos imputar el tipo_gasolina
bmw9[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado']][(bmw9['modelo']=='320')&(bmw9['potencia']==135)&(bmw9['tipo_coche']=='estate')&(bmw9['volante_regulable']==False)&(bmw9['aire_acondicionado']==False)].value_counts().reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,count
0,diesel,320,135.0,estate,False,False,22

In [695]:
#Imputamos el valor 'diesel'
bmw9.loc[[185],['tipo_gasolina']]='diesel'
bmw9.loc[[185],['tipo_gasolina']]

    tipo_gasolina
185        diesel

In [696]:
bmw9[bmw9.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
444,318,111622.0,100.0,NaN,black,estate,True,True,False,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,otros,False,True,False,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,sin_info,False,False,False,False,True,100.0,2018-03-01

In [697]:
#Evaluamos el modelo 318 (indice 444) para ver si podemos imputar el tipo_gasolina
bmw9[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw9['modelo']=='318')&(bmw9['potencia']==100)&(bmw9['tipo_coche']=='estate')&(bmw9['volante_regulable']==True)&(bmw9['aire_acondicionado']==True)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['bluetooth']==False)&(bmw9['alerta_lim_velocidad']==True)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,100.0,estate,True,True,False,False,False,True,0.857143
1,petrol,318,100.0,estate,True,True,False,False,False,True,0.142857

In [698]:
#Imputamos el valor 'diesel'
bmw9.loc[[444],['tipo_gasolina']]='diesel'
bmw9.loc[[444],['tipo_gasolina']]

    tipo_gasolina
444        diesel

In [699]:
bmw9[bmw9.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
480,318,170350.0,105.0,NaN,white,otros,False,True,False,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,sin_info,False,False,False,False,True,100.0,2018-03-01

In [700]:
#Evaluamos el modelo 318 (indice 480) para ver si podemos imputar el tipo_gasolina
bmw9[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw9['modelo']=='318')&(bmw9['potencia']==105)&(bmw9['volante_regulable']==False)&(bmw9['aire_acondicionado']==True)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['bluetooth']==False)&(bmw9['alerta_lim_velocidad']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,105.0,estate,False,True,False,False,False,False,0.6
1,diesel,318,105.0,otros,False,True,False,False,False,False,0.2
2,diesel,318,105.0,sedan,False,True,False,False,False,False,0.2

In [701]:
#Imputamos el valor 'diesel'
bmw9.loc[[480],['tipo_gasolina']]='diesel'
bmw9.loc[[480],['tipo_gasolina']]

    tipo_gasolina
480        diesel

In [702]:
bmw9[bmw9.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
630,318,147558.0,105.0,NaN,white,estate,False,sin_info,False,False,False,False,True,100.0,2018-03-01

In [703]:
#Evaluamos el modelo 318 (indice 630) para ver si podemos imputar el tipo_gasolina
bmw9[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad','gps']][(bmw9['modelo']=='318')&(bmw9['potencia']==105)&(bmw9['tipo_coche']=='estate')&(bmw9['volante_regulable']==False)&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['bluetooth']==False)&(bmw9['alerta_lim_velocidad']==True)&(bmw9['gps']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,gps,proportion
0,diesel,318,105.0,estate,False,False,False,False,False,True,False,0.50
1,diesel,318,105.0,estate,False,True,False,False,False,True,False,0.25
2,diesel,318,105.0,estate,False,sin_info,False,False,False,True,False,0.25

In [704]:
#Imputamos el valor 'diesel'
bmw9.loc[[630],['tipo_gasolina']]='diesel'
bmw9.loc[[630],['tipo_gasolina']]

    tipo_gasolina
630        diesel

In [705]:
bmw9[bmw9.tipo_gasolina.isnull()]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [706]:
bmw9.isna().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       4
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.5.- VOLANTE_REGULABLE

In [707]:
bmw9[bmw9['volante_regulable'].isna()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
66,320,93066.0,135.0,diesel,black,coupe,NaN,False,False,True,False,True,sin_info,11900.0,2018-06-01
273,318,195032.0,100.0,diesel,grey,otros,NaN,sin_info,False,False,False,True,False,4900.0,2018-01-01
489,320,227691.0,135.0,diesel,black,otros,NaN,True,False,False,True,True,False,10500.0,2018-02-01
614,318,201626.0,105.0,diesel,black,otros,NaN,sin_info,False,True,False,True,True,11700.0,2018-03-01

In [708]:
#Evaluamos el modelo 320 (indice 66) para ver si podemos imputar el volante_regulable
bmw9[['volante_regulable','tipo_gasolina','modelo','potencia','tipo_coche','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad','gps']][(bmw9['modelo']=='320')&(bmw9['potencia']==135)&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='coupe')&(bmw9['camara_trasera']==False)&(bmw9['elevalunas_electrico']==False)&(bmw9['bluetooth']==False)&(bmw9['gps']==True)].value_counts(normalize=True).reset_index()

Empty DataFrame
Columns: [volante_regulable, tipo_gasolina, modelo, potencia, tipo_coche, camara_trasera, elevalunas_electrico, bluetooth, alerta_lim_velocidad, gps, proportion]
Index: []

In [709]:
#Los eliminamos
bmw9.dropna(subset='volante_regulable',inplace=True)

In [710]:
bmw9[bmw9['volante_regulable'].isna()]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [711]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          2
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.6.- CAMARA_TRASERA

In [712]:
bmw9[bmw9['camara_trasera'].isna()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
291,520,163675.0,135.0,diesel,otros,estate,True,True,NaN,True,sin_info,True,True,14900.0,2018-01-01
409,316,160619.0,85.0,diesel,black,estate,False,True,NaN,True,sin_info,True,sin_info,11700.0,2018-04-01

In [713]:
#Evaluamos el modelo 520 (indice 291) para ver si podemos imputar la camara_trasera
bmw9[['camara_trasera','modelo', 'potencia','tipo_gasolina','tipo_coche']][(bmw9['modelo']=='520')&(bmw9['potencia']==135)&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='estate')].value_counts(normalize=True)

camara_trasera  modelo  potencia  tipo_gasolina  tipo_coche
False           520     135.0     diesel         estate        0.709677
True            520     135.0     diesel         estate        0.290323
Name: proportion, dtype: float64

In [714]:
#Imputamos el valro False
bmw9.loc[[291],['camara_trasera']]=False
bmw9.loc[291]['camara_trasera']

False

In [715]:
bmw9[bmw9['camara_trasera'].isna()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
409,316,160619.0,85.0,diesel,black,estate,False,True,NaN,True,sin_info,True,sin_info,11700.0,2018-04-01

In [716]:
#Evaluamos el modelo 316 (indice 409) para ver si podemos imputar la camara_trasera
bmw9[['camara_trasera','modelo', 'potencia','tipo_gasolina','tipo_coche']][(bmw9['modelo']=='316')&(bmw9['potencia']==85)&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='estate')].value_counts(normalize=True)

camara_trasera  modelo  potencia  tipo_gasolina  tipo_coche
False           316     85.0      diesel         estate        0.948718
True            316     85.0      diesel         estate        0.051282
Name: proportion, dtype: float64

In [717]:
#Imputamos el valro False
bmw9.loc[[409],['camara_trasera']]=False
bmw9.loc[409]['camara_trasera']

False

In [718]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    2
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.7.- ELEVALUNAS_ELECTRICO

In [719]:
bmw9[bmw9['elevalunas_electrico'].isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
63,640,69695.0,230.0,diesel,otros,coupe,True,True,False,NaN,True,True,True,36300.0,2018-02-01
305,535,148738.0,230.0,diesel,grey,estate,True,True,True,NaN,False,True,True,28800.0,2018-01-01

In [720]:
#Evaluamos el modelo 640 (indice 63) para ver si podemos imputar los elevalunas_electricos
bmw9[['elevalunas_electrico','modelo','potencia','tipo_gasolina','tipo_coche']][(bmw9['modelo']=='640')&(bmw9['potencia']==230)&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='coupe')].value_counts(normalize=True)

elevalunas_electrico  modelo  potencia  tipo_gasolina  tipo_coche
True                  640     230.0     diesel         coupe         1.0
Name: proportion, dtype: float64

In [721]:
#imputamos el valor True
bmw9.loc[[63],['elevalunas_electrico']]=True
bmw9.loc[63]['elevalunas_electrico']

True

In [722]:
bmw9[bmw9['elevalunas_electrico'].isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
305,535,148738.0,230.0,diesel,grey,estate,True,True,True,NaN,False,True,True,28800.0,2018-01-01

In [723]:
#Evaluamos el modelo 535 (indice 305) para ver si podemos imputar los elevalunas_electricos
bmw9[['elevalunas_electrico','modelo','potencia','tipo_gasolina','tipo_coche']][(bmw9['modelo']=='535')&(bmw9['potencia']==230)&(bmw9['tipo_gasolina']=='diesel')&(bmw9['tipo_coche']=='estate')].value_counts(normalize=True)

elevalunas_electrico  modelo  potencia  tipo_gasolina  tipo_coche
True                  535     230.0     diesel         estate        0.9
False                 535     230.0     diesel         estate        0.1
Name: proportion, dtype: float64

In [724]:
#imputamos el valor True
bmw9.loc[[305],['elevalunas_electrico']]=True
bmw9.loc[305]['elevalunas_electrico']

True

In [725]:
bmw9[bmw9['elevalunas_electrico'].isnull()]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [726]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    0
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  6
fecha_venta             1
dtype: int64

    3.9.8.- PRECIO

Precio es la variable TARGET a predecir. Eliminamos los nulos d precio directamente.

In [727]:
bmw9.dropna(subset='precio',inplace=True)

In [728]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    0
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  0
fecha_venta             1
dtype: int64

    3.9.9.- FECHA_VENTA

No hay forma de saber la fecha de venta de un coche. Eliminamos el nulo directamente.

In [729]:
bmw9.dropna(subset='fecha_venta',inplace=True)

In [730]:
bmw9.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    0
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  0
fecha_venta             0
dtype: int64

Reseteamos el indice del DataFrame ya que hemos eliminado varios elementos. De esta forma no quedarán huecos vacíos de indices.

In [731]:
bmw10=bmw9.copy()

In [732]:
bmw10.reset_index(drop=True,inplace=True)

In [733]:
bmw10.isnull().sum()

modelo                  0
km                      0
potencia                0
tipo_gasolina           0
color                   0
tipo_coche              0
volante_regulable       0
aire_acondicionado      0
camara_trasera          0
elevalunas_electrico    0
bluetooth               0
gps                     0
alerta_lim_velocidad    0
precio                  0
fecha_venta             0
dtype: int64

### 4.- Analisis Univariable

In [734]:
bmw10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4829 entries, 0 to 4828
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   modelo                4829 non-null   object
 1   km                    4829 non-null   float64
 2   potencia              4829 non-null   float64
 3   tipo_gasolina         4829 non-null   object
 4   color                 4829 non-null   object
 5   tipo_coche            4829 non-null   object
 6   volante_regulable     4829 non-null   object
 7   aire_acondicionado    4829 non-null   object
 8   camara_trasera        4829 non-null   object
 9   elevalunas_electrico  4829 non-null   object
 10  bluetooth             4829 non-null   object
 11  gps                   4829 non-null   bool
 12  alerta_lim_velocidad  4829 non-null   object
 13  precio                4829 non-null   float64
 14  fecha_venta           4829 non-null   object
dtypes: bool(1), float64(3), object(11)
memory usage: 533.0+ KB