__Hoja de trabajo Proyecto BMW - Toni__

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
pd.set_option('display.max_rows',20)
pd.set_option('display.max_columns',None)

Importamos los datos a un DataFrame

In [85]:
bmw=pd.read_csv('dataset/bmw_pricing_v3.csv')

In [86]:
bmw.shape

(4843, 18)

In [87]:
bmw.sample(5)

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
2996,NaN,730,195374.0,180.0,NaN,diesel,grey,NaN,True,True,True,False,True,False,True,True,15100.0,2018-04-01
2075,NaN,116,42273.0,80.0,NaN,petrol,black,hatchback,False,False,False,NaN,False,False,True,NaN,13400.0,2018-04-01
4136,NaN,X4,65581.0,140.0,2015-11-01,diesel,blue,suv,True,True,False,NaN,True,False,True,NaN,30000.0,2018-04-01
3763,BMW,X1,34767.0,135.0,2013-09-01,diesel,orange,suv,False,NaN,False,NaN,False,False,False,False,14000.0,2018-05-01
3188,BMW,520,83853.0,135.0,2013-08-01,diesel,white,NaN,True,True,False,NaN,True,False,False,True,17400.0,2018-05-01

In [88]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [89]:
bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

__No hay duplicados__

In [90]:
bmw.duplicated().value_counts()

False    4843
Name: count, dtype: int64

In [91]:
bmw[bmw.duplicated()]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

__Análisis univarible__

In [92]:
bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- marca

In [93]:
bmw.marca.unique()

array([nan, 'BMW'], dtype=object)

In [94]:
bmw.marca.value_counts(dropna=False, normalize=True)

marca
BMW    0.799711
NaN    0.200289
Name: proportion, dtype: float64

In [95]:
bmw2=bmw.copy()

In [96]:
del(bmw2['marca'])

In [97]:
bmw2.head()

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

- modelo

In [98]:
bmw2.isnull().sum()

modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [99]:
bmw2.modelo.value_counts(dropna=False, normalize=True)*100

modelo
320                  15.527566
520                  13.070411
318                  11.728268
X3                    9.043981
116                   7.392112
                       ...
635                   0.020648
M135                  0.020648
 Active Tourer        0.020648
225 Active Tourer     0.020648
214 Gran Tourer       0.020648
Name: proportion, Length: 77, dtype: float64

In [100]:
bmw2[bmw2.modelo.isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,NaN,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01
4766,NaN,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01
4802,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

In [101]:
#Vehículo indice 173
bmw2[(bmw2['potencia']==105) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==True)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==False)&(bmw2['volante_regulable']==False)&(bmw2['gps']==True)]['modelo'].value_counts(normalize=True)*100

modelo
318                 63.106796
X1                  11.650485
118                 10.679612
318 Gran Turismo     9.708738
X3                   3.883495
525                  0.970874
Name: proportion, dtype: float64

In [102]:
#Vehículo indice 4766
bmw2[(bmw2['potencia']==105) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==True)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==True)&(bmw2['volante_regulable']==False)&(bmw2['gps']==True)&(bmw2['tipo_coche']=='suv')&(bmw2['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X1    62.5
X3    37.5
Name: proportion, dtype: float64

In [103]:
#Vehículo indice 4802
bmw2[(bmw2['potencia']==110) & (bmw2['tipo_gasolina']=='diesel')&(bmw2['aire_acondicionado']==False)&(bmw2['camara_trasera']==False)&(bmw2['elevalunas_electrico']==False)&(bmw2['volante_regulable']==False)&(bmw2['gps']==False)&(bmw2['bluetooth']==False)]['modelo'].value_counts(normalize=True)*100

modelo
X3     33.333333
218    33.333333
318    16.666667
X1     16.666667
Name: proportion, dtype: float64

In [104]:
bmw2.loc[[173],['modelo']]='318'

In [105]:
bmw2.loc[[173]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,318,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01

In [106]:
bmw2.loc[[4766],['modelo']]='X1'

In [107]:
bmw2.loc[[4766]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4766,X1,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01

In [108]:
bmw2.loc[[4802]]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
4802,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

In [109]:
bmw2=bmw2.drop(index=4802)

In [110]:
#bmw2.loc[[4802]]

- km

In [111]:
bmw3=bmw2.copy()

In [112]:
bmw3.isnull().sum()

modelo                            0
km                                2
potencia                          1
fecha_registro                 2422
tipo_gasolina                     5
color                           445
tipo_coche                     1459
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [113]:
bmw3[bmw3['km'].isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
459,520,NaN,135.0,2012-12-01,diesel,black,NaN,True,True,True,False,True,True,True,True,20300.0,2018-02-01
4811,X3,NaN,190.0,NaN,diesel,blue,van,True,True,True,True,True,False,True,True,19500.0,2018-07-01

In [114]:
bmw3.km.isnull().value_counts(dropna=False,normalize=True)*100

km
False    99.958695
True      0.041305
Name: proportion, dtype: float64

In [115]:
bmw3=bmw3.drop(index=[459,4811])

In [116]:
bmw3.isnull().sum()

modelo                            0
km                                0
potencia                          1
fecha_registro                 2421
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- potencia

In [117]:
bmw3[bmw3.potencia.isnull()]

,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
181,525,106054.0,NaN,2014-05-01,diesel,black,estate,False,True,False,NaN,False,False,True,True,18700.0,2018-03-01

In [171]:
#Podemos averigual la potencia segun modelo y otras variables?
bmw3[['modelo','potencia','tipo_gasolina','tipo_coche','volante_regulable','aire_acondicionado','elevalunas_electrico']][(bmw3['modelo']=='525')&(bmw3['tipo_gasolina']=='diesel')&(bmw3['tipo_coche']=='estate')&(bmw3['volante_regulable']==False)&(bmw3['aire_acondicionado']==True)&(bmw3['elevalunas_electrico']==False)].value_counts().reset_index()

,modelo,potencia,tipo_gasolina,tipo_coche,volante_regulable,aire_acondicionado,elevalunas_electrico,count
0,525,160.0,diesel,estate,False,True,False,5

In [119]:
#Potencia= 160!
bmw3.loc[[181],['potencia']]=160

In [120]:
bmw3.isnull().sum()

modelo                            0
km                                0
potencia                          0
fecha_registro                 2421
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- Fecha_registro

In [121]:
bmw.fecha_registro.isnull().value_counts(normalize=True)*100
#Demasiados nulos. Se puede eliminar.

fecha_registro
True     50.030973
False    49.969027
Name: proportion, dtype: float64

In [122]:
bmw4=bmw3.copy()

In [123]:
del(bmw4['fecha_registro'])

In [124]:
bmw4.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     5
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

- tipo_gasolina

In [125]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
82,420,54993.0,135.0,NaN,black,NaN,False,False,False,False,False,False,False,False,18400.0,2018-03-01
185,320,186697.0,135.0,NaN,white,estate,False,False,False,NaN,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [170]:
#Evaluamos el modelo 420 (indice 82) para ver si podemos imputar el tipo_gasolina
bmw4[['modelo','potencia','tipo_gasolina','volante_regulable','aire_acondicionado']][(bmw4['modelo']=='420')&(bmw4['potencia']==135)&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==False)].value_counts().reset_index()

  modelo  potencia tipo_gasolina  volante_regulable  aire_acondicionado  count
0    420     135.0        diesel              False               False      8

In [141]:
bmw4.loc[[82],['tipo_gasolina']]='diesel'

In [142]:
bmw4.loc[[82],['tipo_gasolina']]

   tipo_gasolina
82        diesel

In [143]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
185,320,186697.0,135.0,NaN,white,estate,False,False,False,NaN,False,False,False,True,2400.0,2018-04-01
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [169]:
#Evaluamos el modelo 320 (indice 185) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado']][(bmw4['modelo']=='320')&(bmw4['potencia']==135)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==False)].value_counts().reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,count
0,diesel,320,135.0,estate,False,False,23

In [160]:
bmw4.loc[[185],['tipo_gasolina']]='diesel'

In [162]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
444,318,111622.0,100.0,NaN,black,estate,True,True,False,NaN,False,False,True,True,15400.0,2018-02-01
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [193]:
#Evaluamos el modelo 318 (indice 444) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw4['modelo']=='318')&(bmw4['potencia']==100)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==True)&(bmw4['aire_acondicionado']==True)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==True)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,100.0,estate,True,True,False,False,False,True,0.857143
1,petrol,318,100.0,estate,True,True,False,False,False,True,0.142857

In [194]:
bmw4.loc[[444],['tipo_gasolina']]='diesel'

In [195]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
480,318,170350.0,105.0,NaN,white,NaN,False,True,False,NaN,False,False,True,False,10200.0,2018-02-01
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [197]:
#Evaluamos el modelo 318 (indice 480) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad']][(bmw4['modelo']=='318')&(bmw4['potencia']==105)&(bmw4['volante_regulable']==False)&(bmw4['aire_acondicionado']==True)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,proportion
0,diesel,318,105.0,estate,False,True,False,False,False,False,0.75
1,diesel,318,105.0,sedan,False,True,False,False,False,False,0.25

In [198]:
bmw4.loc[[480],['tipo_gasolina']]='diesel'

In [199]:
bmw4[bmw4.tipo_gasolina.isnull()]

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
630,318,147558.0,105.0,NaN,white,estate,False,NaN,False,NaN,False,False,False,True,100.0,2018-03-01

In [201]:
#Evaluamos el modelo 318 (indice 630) para ver si podemos imputar el tipo_gasolina
bmw4[['tipo_gasolina','modelo','potencia','tipo_coche','volante_regulable','aire_acondicionado','camara_trasera','elevalunas_electrico','bluetooth','alerta_lim_velocidad','gps']][(bmw4['modelo']=='318')&(bmw4['potencia']==105)&(bmw4['tipo_coche']=='estate')&(bmw4['volante_regulable']==False)&(bmw4['camara_trasera']==False)&(bmw4['elevalunas_electrico']==False)&(bmw4['bluetooth']==False)&(bmw4['alerta_lim_velocidad']==True)&(bmw4['gps']==False)].value_counts(normalize=True).reset_index()

,tipo_gasolina,modelo,potencia,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,alerta_lim_velocidad,gps,proportion
0,diesel,318,105.0,estate,False,False,False,False,False,True,False,0.666667
1,diesel,318,105.0,estate,False,True,False,False,False,True,False,0.333333

In [202]:
bmw4.loc[[630],['tipo_gasolina']]='diesel'

- color

In [203]:
bmw4.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     0
color                           445
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [210]:
bmw4.color.value_counts(dropna=False,normalize=True)*100

color
black     30.950413
grey      22.107438
blue      13.347107
white      9.979339
NaN        9.194215
brown      6.239669
silver     6.033058
red        0.971074
beige      0.764463
green      0.289256
orange     0.123967
Name: proportion, dtype: float64

In [211]:
bmw5=bmw4.copy()

In [213]:
bmw5.color.fillna('other',inplace=True)

In [214]:
bmw5.color.value_counts(dropna=False,normalize=True)*100

color
black     30.950413
grey      22.107438
blue      13.347107
white      9.979339
other      9.194215
brown      6.239669
silver     6.033058
red        0.971074
beige      0.764463
green      0.289256
orange     0.123967
Name: proportion, dtype: float64

- tipo_coche

In [215]:
bmw5.isnull().sum()

modelo                            0
km                                0
potencia                          0
tipo_gasolina                     0
color                             0
tipo_coche                     1458
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3390
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [217]:
bmw5.tipo_coche.value_counts(dropna=False,normalize=True)*100

tipo_coche
NaN            30.123967
estate         22.871901
sedan          16.962810
suv            15.599174
hatchback      10.082645
subcompact      1.590909
coupe           1.570248
convertible     0.619835
van             0.578512
Name: proportion, dtype: float64

In [218]:
#Que ahcemos con esta categoría???

In [127]:
bmw.asientos_traseros_plegables.isnull().value_counts(normalize=True)

asientos_traseros_plegables
True     0.700186
False    0.299814
Name: proportion, dtype: float64